<!doctype html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar usuário</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- favicon -->
    <link href="img/icone.png" rel="shortcut icon" type="image/png">

    <!-- css externo -->
    <link href="css/estilo.css" rel="stylesheet" type="text/css" media="all">
</head>

<body class="bg-dark d-flex flex-column min-vh-100" data-bs-theme="dark">
     
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg mb-0" style="background-color: #16161d;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <!-- <img src="images/icone2.png" alt="Ícone"> -->
                 <img th:src="@{/img/icone2.png}" alt="Ícone">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}"
                            href="index.html">Início</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/cadastrarUsuario}"
                            href="cadastrar.html">Cadastrar Pessoa</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/listarUsuarios}" href="listar.html">Listar
                            Pessoas Desaparecidas</a></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}" href="login.html" style="background-color: #37a52d;">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Fim do Navbar -->

    <!-- container -->
    <div class="container">
    <h1>Lista de Pessoas Desaparecidas</h1>
    <hr class="mb-5">

    <table class="table table-dark table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.idade}"></td>
                <td th:text="${usuario.descricao}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/cadastrarPessoaDesaparecida}" class="btn btn-success">Cadastrar Nova Pessoa</a>
    <a th:href="@{/}" class="btn btn-secondary">Início</a>
</div>
    <!-- fim do container -->

    <!-- Footer -->
    <footer class="bg-dark py-3 mt-auto">
        <div class="container text-center">
            <p class="text-light mb-0">© 2025 Todos os direitos reservados. Sistema de Cadastro de Pessoas Desaparecidas.</p>
            <br>
            <p class="text-light mb-0">Desenvolvido por <a href="https://github.com/FabianeSarres" class="text-info">Fabiane Sarres</a></p>
        </div>
    </footer>
    <!-- Fim do Footer -->


    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>